/* Navbar.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.nav-links {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.nav-link:hover {
  color: #7f6feb; /* Change to a vibrant color */
  transition: color 0.3s;
}

.nav-link .MuiTypography-root {
  margin-left: 0.5rem;
}


.job-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f4f4f4;
}

.job-list-title {
  text-align: center;
  color: #17185e;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.job-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.job-card {
  background-color: #17185e;
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #ffeb3b;
}

.filter-container {
  margin-bottom: 1rem;
  text-align: left;
}

.filter-container label {
  margin-right: 0.5rem;
  color: #666;
}

.filter-container select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}




.view-details-link{
  color: #ffeb3b;
}

.job-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.job-details {
  font-size: 0.875rem;
  color: #cccccc;
  margin-top: 0.5rem;
}

.job-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-details-title {
  color: #17185e;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.job-details-description {
  color: #333;
  margin-bottom: 1.5rem;
}

.job-details-info {
  color: #17185e;
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  .nav-links {
    display: flex;
  }
}

