/* Navbar.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.nav-links {
  display: none;
}

.nav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.nav-link:hover {
  color: #7f6feb; /* Change to a vibrant color */
  transition: color 0.3s;
}

.nav-link .MuiTypography-root {
  margin-left: 0.5rem;
}

@media (min-width: 600px) {
  .nav-links {
    display: flex;
  }
}

